 
@{
    ViewData["Title"] = "Check Lists";
}

<h1>Supervisor Shift Check List</h1>

<ul>
    <li>
        <a asp-controller="CheckList" asp-action="Category" asp-route-Name="Weekdays">Weekdays</a>
    </li>
    <li>
        <a asp-controller="CheckList" asp-action="Category" asp-route-Name="Friday">Friday</a>
    </li>
    <li>
        <a asp-controller="CheckList" asp-action="Category" asp-route-Name="Weekends">Weekends</a>
    </li>
</ul>
