@{
    ViewData["Title"] = "Home Page";
}

<br />
<br />
<br />
<div class="text-center">
    <h1 class="display-4">Welcome to the official site of the Georgian College Athletics Department CSR team!</h1>
    <p>This site contains all the checklists needed by the CSR Supervisors on shift</p>
    <p>Here we manage data like employee specific data, different task and completion status</p>
    <p>This site suns on ASP.NET Core 6 and SQL Server with also the help of Azure tools</p>
    <p>Live site at <a href="https://georgiancollege-ad.azurewebsites.net/" target="_blank">https://georgiancollege-ad.azurewebsites.net/</a></p>
</div>
<br />
<br />
<br />
