html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'Roboto Condensed', sans-serif; 
}

.navigation {
    height:15vh;
    width:100%;  
}

.navbar{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding-top: 20px;
    padding-left: 10%;
    padding-right: 10%; 
}

table.sortable th:hover {
    cursor: pointer;
}

.sorttable_nosort:hover{
    cursor: default !important;
}

.navbar-dark {
    background-color: #1976D2;
}

.btn-primary {
    background-color: #757575;
}

    .btn-primary:hover {
        background-color: #536DFE;
    }

a {
    color: #536DFE;
}


a:hover{
    color: #BBDEFB;
}

img {
    width:60px;
    height:60px;
    padding:5px;
}

.navbar li {
    border-right:2px solid #000000;
    margin:2px;
}

.navbar li:last-child {
    border-right: none;
    margin: 2px;
}

    .navbar li:hover {
        background-color: #3F51B5;
    }

.navbar-brand {
    color: #000000;
    font-weight:bolder ;
    font-size:25px;
}


